html {
    position: relative;
    min-height: 100%;
}

.navbar {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    width: 100%;
    width: 100%;
    z-index: 99;
    border-bottom: 4px solid #666;
}

.navbar img {
    width: 3rem;
}

.brand {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

.content {
    text-align: center;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    height: 90vh;
}

.main {
    box-sizing: content-box;
    width: 18rem;
    height: 15rem;
    padding: 1rem;
    border: 1px solid black;
    margin: auto;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: 50%;
    box-shadow: 1px 1px 10px black;
}

.main input {
    float: right;
}


/************************************************************** sticky footer code *************************************************/

/* Don't forget to add (padding-bottom = to footer height) to content container */

.main-container {
    position: relative;
    min-height: 100vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    width: 100%;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    border-top: 4px solid #666;
    text-align: center;
}

.footer a:link {
    color: black;
    text-decoration: underline;
}