body,
html {
    position: relative;
    max-height: 100vh;
}

/* ******************************************************navbar************************************************ */
.navbar {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    width: 100%;
    z-index: 99;
    border-bottom: 4px solid #666;
}

.navbar-nav {
    margin: 0rem 1rem;
}

.nav-link {
    padding: 1rem 1rem;
}

.navbar-nav>li {
    margin: 0rem 1rem;
}

.navbar img {
    width: 3rem;
}

.brand {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

.navbar button {
    margin: 0.1rem 1.5rem;
}

/* ************************************************************************side bar************************************************ */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebarCollapse {
    margin: 1rem;
    padding: 1rem 0.5rem;
    float: right;
}

#sidebar {
    background-color: #333;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

/* *******************************************************main content******************************************* */

.content {
    text-align: center;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding-bottom: 4rem;
}

/************************************************************** sticky footer code *************************************************/

/* Don't forget to add (padding-bottom = to footer height) to content container */

.main-container {
    position: relative;
    min-height: 100vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    width: 100%;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    border-top: 4px solid #666;
    text-align: center;
}

.footer a:link {
    color: black;
    text-decoration: underline;
}